/* 
# PLEASE NOTE:
    This file is dirt and ugly. In the future a custom SASS version of foundation will be made,
    with these edits in there.

# THIS IS JUST TEMPORARY!
*/

@font-face {
    font-family: Accid;
    src: url(../fonts/accid.ttf);
}

h1,h2,h3 {
    font-family: "Prompt", sans-serif;
}

body {
    background-image: url(../images/background-lodyas.png);
}

.panel {
    background-color: #f3f3f3;
    border-top: 3px solid #444;
    padding: 9px;
}

.panel-inset {
    color: #fff;
    box-shadow: inset 0px 3px #263238;
    background-color: #37474f;
    border: none;
}

/*COMPONENTS*/
.player-search-component .input-group-field:focus,
.player-search-component .input-group-button:focus{
    box-shadow: none;
}
.player-search-component .input-group-field {
    background-color: #455a64;
    border: none;
    font-family: Accid;
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 1.7em;
    color: #eceff1;
}
.player-search-component .input-group-button {
    background-color: #455a64;
}

.HeadNavigation,
.HeadNavigation > .row {
    background-color: #1b1b1b;
}

.HeadNavigation a {
    color: #e2e2e2;
    font-family: "Prompt", sans-serif;
    text-transform: uppercase;
    font-size: 0.8em;
}
.HeadNavigation a.active {
    border-bottom: 3px solid #f9f9f9;
}
.HeadNavigation a.title.active {
    border-bottom: none;
}
.HeadNavigation a:hover {
    border-bottom: 3px solid #a0f;
}
.HeadNavigation a.title:hover {
    border-bottom: none;
}
.HeadNavigation a.title {
    font-size: 1.2em;
    color: #a0f;
}
.HeadNavigation a.special {
    color: #3483d3;
}
.HeadNavigation a.special:hover {
    border-bottom: 3px solid #3483d3;
}